fieldset{
    width: 250px;
    height: 320px;

}

.field{
    width: 85%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hint{
    display: block;
    color: dimgray;
    font-style: italic;
    font-size: medium;
}

input[id=add]{
    font-size: medium;
    margin-left: 30%;
}